h1 a{
	color: #000;
}
h1 a:hover{
	color: #000;
	text-decoration: none;
}
#login{
	text-align: center;
}
#authorize-button{
	margin: 0 auto;
}
#signout-button{
	margin-top: 20px;
}
#stream{
	text-align: center;
}
#messages{
	text-align: left;
}
.header{
	margin-top: 5em;
}

.protected{
	display: none;
}

.preview{
	width:204px;height:128px;
}

.messageScroll{
	    overflow-y: scroll;
	    max-height: 200px;
}

.video-item{
	cursor: pointer;
}
.video-item:hover{
	opacity:.9;
}

